@mixin mob {
	@media (max-width: 360px) {
		@content;
	}
}

@mixin tab {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin o-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: gutter(6) - 12;
}