@mixin mob {
	@media (max-width: 360px) {
		@content;
	}
}

@mixin tab {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin o-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: $gap-pc;
}

@mixin o-grid-3 {
  display: grid;
  grid-template-columns: 4fr 6fr 2fr;
  grid-gap: $gap-pc;
}