.about-parking {
  &__inner {
    @include o-grid;
  }
  &__text {
    font-size: 32px;
    margin-bottom: gutter(6);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: gutter(6);
  }

  @include tab {
    &__inner {
      grid-template-columns: 1fr;
      grid-gap: gutter(5);
    }
  
    &__text {
      margin-bottom: gutter(6);
    }

  }

  @include mob {
    &__inner {
      grid-gap: gutter(4);
    }

    &__text {
      font-size: 24px;
    }

    &__list {
      grid-template-columns: repeat(1, 1fr);
    }

  }
}