.stat-page {
  padding-top: 90px;
  &__inner {
    display: grid;
    grid-template-columns:  4fr 8fr;
    grid-gap: gutter(3);
  }
  &__content {
    grid-column: 2/3;
    h1 {
      margin-bottom: gutter(6);
    }
    h4 {
      margin-bottom: gutter(4);
    }
    p {
      color: $grey;
      margin-bottom: gutter(8);
    }
    ul {
      color: $grey;
      list-style: disc;
      padding-left: 15px;
      margin-bottom: gutter(8);
    }
  }
  &__404 {
    max-width: 424px;
    margin-bottom: 80px;
  }

  &--404 {
    .stat-page__content {
      padding: 100px 0;
    }
    h1 {
      display: flex;
      align-items: center;
      svg {
        width: 37px;
        height: 65px;
        object-fit: contain;
        margin-right: gutter(4);
      }
    }
  }

  @include tab {
    padding-top: gutter(8);
    &__inner {
      display: block;
    }
    &__404 {
      margin-bottom: 40px;
    }
    &--404 {
      .stat-page__content {
        padding: 50px 0;
      }
    }
  }
  @include mob {
    h1 {
      font-size: 24px;
      svg {
        width: 27px;
        height: 47px;
        margin-right: gutter(2);
      }
    }
    &--404 {
      .h1 {
        font-size: 40px;
      }
      .link-2 {
        margin-top: 18px;
      }
    }
  }
}