.contests {
  overflow: hidden;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: gutter(6);
  }
  &__slider {
    overflow: visible;
  }
  &__slide {
    width: 860px;
    height: auto;
    display: flex;
    margin-right: gutter(6);
    a {
      flex-grow: 1;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .card4__text {
    max-height: 160px;
    overflow: hidden;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 35px;
      width: 100%;
      background: rgb(234,241,239);
      background: linear-gradient(180deg, rgba(234,241,239,0) 0%, rgba(234,241,239,1) 73%, rgba(234,241,239,1) 100%);
    }
  }

  &__pag {
    margin-top: gutter(6);
    margin-bottom: gutter(4);
  }
  &__c-btns {
    display: flex;
    justify-content: flex-end;
  }
  &__footer {
    display: none;
  }
  @include tab {
    &__slide {
      width: 618px;
      max-width: 100%;
      margin-right: gutter(5);
    }

    .card4__text {
      max-height: 150px;
    }

    .link-2 {
      font-size: 16px;
    }
  
    &__pag {
      display: none;
    }
    &__c-btns {
      display: none;
    }
  }
  @include mob {
    &__top {
      .btn {
        display: none;
      }
    }
    &__slide {
      width: 285px;
      margin-right: gutter(4);
    }
    .card4__text {
      max-height: 120px;
    }
  
    &__footer {
      margin-top: gutter(6);
      display: block;
    }
  }
}