.list-doc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: gutter(6);
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 230px;
    padding: gutter(6);
    background-color: $green-light;
  }
  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  @include tab {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: gutter(5);
  }
  @include mob {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: gutter(6);
  }
}