.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $white;
  transition: transform 200ms;

  &.scroll {
    transform: translateY(-100%);
  }
  &.down {
    transform: translateY(0%);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 92px;
    border-bottom: 1px solid $brd-grey;
  }

  &__logo {
    display: inline-block;
    width: 120px;
    height: 35px;
    flex-shrink: 0;
    margin-right: 104px;

    svg {
      height: 100%;
      object-fit: contain;
    }
    @media (max-width: 1330px) {
      margin-right: 70px;
    }
  }

  &__langs {
    display: flex;
    align-items: center;
    margin-right: 114px;
    &--mobile {
      display: none;
    }
    @media (max-width: 1330px) {
      margin-right: 70px;
    }
  }

  &__lang {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: $accent;
    border: 1px solid $brd-accent;
    border-radius: $brz;
    margin-right: gutter(2);
    transition-duration: 300ms;
    transition-property: color, background-color;

    &.active,
    &:hover {
      background-color: $accent;
      color: $white;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    transition-property: opacity;
    transition-duration: 300ms;
    &.hide {
      opacity: 0;
    }
    @media (max-width: 1330px) {
      flex-wrap: wrap;
    }
  }

  &__nav-item {
    margin-right: gutter(4);

    &:last-child {
      margin-right: 0;
    }

    &.active {
      .header__nav-arrow {
        transform: rotate(-180deg);
      }
    }
    &--drop .header__nav-title {
      cursor: pointer;
    }
  }

  &__nav-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    transform: translateY(1px);
    &:hover > a {
      text-decoration: underline;
    }
    a {
      display: inline-block;
      padding: 35px 0;
    }
  }

  &__nav-arrow {
    width: 16px;
    height: 16px;
    margin-left: gutter(1);
    transition: transform 300ms;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav-drop {
    position: absolute;
    left: 0;
    top: calc(100% - 1px);
    width: 100%;
    background-color: $white;
    padding: gutter(6) 0;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(-200%);
    opacity: 0;
    transition: opacity 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 100ms;
    &.active {
      transform: translateY(0);
      opacity: 1;
    }
    ul {
      font-size: 18px;
      margin-right: 70px;
      &:last-child {
        margin-right: 0;
      }
    }
    li {
      margin-bottom: gutter(4);
    }
    a:hover {
      text-decoration: underline;
    }
  }

  &__note {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    border: 1px solid $brd-accent;
    border-radius: $brz;
    padding: 11px gutter(6);
    background-color: $green-light;
    margin-left: 10px;
    min-width: 330px;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

  &__search {
    height: 56px;
    width: 24px;
    position: relative;
    &.active {
      overflow: visible;
      .header__search-in {
        border: 1px solid $brd-grey;
        width: 872px;
        padding: gutter(4);
      }
    }
  }

  &__search-in {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: gutter(4) 0;
    border: 1px solid $white;
    border-radius: 4px;
    background-color: $white;
    transition-property: border, width, padding;
    transition-duration: 300ms;
  }

  &__search-input {
    height: 100%;
    width: 100%;
    font-size: 14px;
    &::placeholder {
      color: $grey;
    }
  }

  &__search-open,
  &__search-close {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__search-start {
    color: $accent;
  }

  &__burger {
    display: none;
    width: 24px;
    &:before,
    &:after,
    & div {
      background: $accent;
      content: "";
      display: block;
      height: 2px;
      border-radius: 2px;
      margin: gutter(1) 0;
      transition: 0.5s;
    }
    &.active:before {
      transform: translateY(6px) rotate(135deg);
    }
    &.active:after {
      transform: translateY(-6px) rotate(-135deg);
    }
    &.active div {
      transform: scale(0);
    }
  }

  &--parking {
    .header__inner {
      justify-content: space-between;
    }
    .header__logo {
      margin-right: 0;
    }
    .header__nav {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 1170px) {
    &--parking {
      .header__langs {
        margin-right: 10px;
      }
    }
  }

  @include tab {
    &--parking {
      .header {
        &__nav {
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
    &__inner {
      // align-items: flex-start;
      align-items: center;
      padding: gutter(3) 0 gutter(3);
      // justify-content: stretch;
      justify-content: space-between;
      min-height: 84px;
      position: relative;
      border-bottom: 0;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: $white;
      }
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        background-color: $brd-grey;
      }
    }
  
    &__logo {
      margin-right: 55px;
      position: relative;
      z-index: 2;
    }
  
    &__langs {
      align-items: flex-start;
      margin-right: 0;
      position: relative;
      z-index: 2;
    }
  
    &__lang {
      display: inline-flex;
    }
  
    &__nav {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      padding: 30px;
      // flex-direction: row-reverse;
      align-items: stretch;
      flex-direction: column;
      background-color: $white;
      transform: translateY(-120%);
      transition: transform 300ms;

      &.active {
        transform: translateY(0);
      }
    }
  
    &__nav-list {
      display: block;
      flex-grow: 1;
      overflow: auto;
      order: 3;
    }
  
    &__nav-item {
      margin-right: 0;
      margin-bottom: gutter(4);
  
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__nav-title {
      a {
        padding: 0;
      }
    }

    &__nav-drop {
      position: static;
      padding: gutter(3) 0;
      padding-left: 38px !important;
      display: none;
      transform: translateY(0);
      opacity: 1;
      &.active {
        display: block;
      }
      ul {
        font-size: 18px;
        margin-right: 0;
        &:last-child {
          margin-right: 0;
        }
      }
      li {
        margin-bottom: gutter(4);
      }
      a:hover {
        text-decoration: underline;
      }
    }
  
    &__note {
      display: flex;
      position: relative;
      z-index: 2;
      margin-left: auto;
    }

    &__search {
      width: 100%;
      margin-bottom: gutter(6);
      order: 2;
    }
  
    &__search-in {
      border: 1px solid $brd-grey;
      width: 100%;
      padding: gutter(3);
      position: static;
    }
  
    &__burger {
      display: inline-block;
      margin-left: gutter(5);
      position: relative;
      z-index: 2;
    }
    
  }


  @include mob {
  
    &__inner {
      align-items: center;
      padding: gutter(3) 0;
      justify-content: space-between;
      min-height: auto;
      flex-wrap: wrap;
    }
  
    &__logo {
      width: 80px;
      height: 23px;
    }

    &__langs {
      &--mobile {
        display: flex;
        order: 1;
        margin-bottom: gutter(4);
      }
      &--pc {
        display: none;
      }
    }

    &__nav {
      padding: gutter(5);
    }

    &__nav-drop {
      padding: 10px 0;
      padding-bottom: 0;
      padding-left: gutter(4) !important;
      ul {
        font-size: 14px;
      }
      li {
        margin-bottom: gutter(2);
      }
    }
  
    &__note {
      order: 1;
      width: 100%;
      margin: 0;
      margin-top: gutter(4);
      font-size: 12px;
    }
    
  }
}
