.request-help {
  overflow: hidden;
  &__inner {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-gap: gutter(6);
  }
  &__texts {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: gutter(6);
    color: $grey;
  }
  &__swiper {
    grid-column: 1/4;
  }

  @include tab {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: gutter(5) 0;
    }
    &__cap {
      grid-column: 1/4;
    }
    &__texts {
      grid-column: 1/3;
      grid-gap: gutter(5);
      width: 100%;
    }
    &__swiper {
      grid-column: 1/3;
    }
  }
  @include mob {
    &__cap {
    }
    &__texts {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: gutter(4);
    }
  }
}