.banner-parking {
  margin-top: 64px;

  &__top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: gutter(6);
    margin-bottom: gutter(8);
  }

  &__cap {
    font-size: 64px;
    margin-top: -3px;
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: gutter(6);
  }

  &__social {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__pic {
    height: 70vh;
    max-height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: $brz;
    display: flex;
    &-img {
      flex-grow: 1;
    }
    img {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      top: 0%;
      transform: translateY(0%);
      border-radius: $brz;
      overflow: hidden;
    }
  }

  @media (max-width: $container-width) {

    &__pic {
      height: auto;
      max-height: none;
      width: 100%;
      &-img {
        padding-bottom: 53%;
      }
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(0);
        object-fit: cover;
      }
    }
  }

  @include tab {
    margin-top: gutter(10);
  
    &__top {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: gutter(5);
      margin-bottom: gutter(10);
    }
  
    &__cap {
      margin-top: -10px;
    }

    &__text {
      grid-template-columns: 1fr;
      grid-gap: gutter(5);
    }
  
    &__social {
      justify-content: flex-start;
    }

    &__pic {
      height: auto;
      &-img {
        position: static;
        padding-bottom: 0;
      }
      img {
        width: 100%;
        height: auto;
        position: static;
        left: 0;
        top: 0;
        transform: translateY(0);
        object-fit: cover;
      }
    }

  }

  @include mob {
    &__top {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: gutter(4);
      margin-bottom: gutter(6);
    }
  
    &__cap {
      margin-top: 0;
    }
  
    &__social {
      grid-column: unset;
    }

  }
}