@@include("../blocks/modules/header/header.html")

@@include('../blocks/modules/UI/brc.html', {
  text: ['Главная', 'О фонде']
})
@@include("../blocks/modules/about-fund/index.html")
@@include("../blocks/modules/info-block/about-mission.html")
@@include("../blocks/modules/our-values/index.html")
@@include("../blocks/modules/directions/main.html")
@@include("../blocks/modules/members/index.html")
@@include("../blocks/modules/about-team/index.html")
@@include("../blocks/modules/partners-main/index.html")
@@include("../blocks/modules/news-subs/index.html")

@@include("../blocks/modules/footer/footer.html")