@@include("../blocks/modules/header/header.html")

@@include('../blocks/modules/UI/brc.html', {
  text: ['Главная', 'Конкурсы', 'Страница конкурса']
})
@@include("../blocks/modules/contest-article/index.html")
@@include("../blocks/modules/info-block/contest-about.html")
@@include("../blocks/modules/info-block/contest-conditions.html")
@@include("../blocks/modules/info-block/contest-steps.html")
@@include("../blocks/modules/info-block/contest-docs.html")
@@include("../blocks/modules/info-block/contest-request.html")
@@include("../blocks/modules/news-subs/index.html")

@@include("../blocks/modules/footer/footer.html")