@@include("../blocks/modules/header/header.html")

@@include("../blocks/modules/banner-main/index.html")
@@include("../blocks/modules/news-last/index.html")
@@include("../blocks/modules/about/found.html")
@@include("../blocks/modules/our-values/index.html")
@@include("../blocks/modules/directions/main.html")
@@include("../blocks/modules/contests/index.html")
@@include("../blocks/modules/work-results/index.html")
@@include("../blocks/modules/history-main/index.html")
@@include("../blocks/modules/partners-main/index.html")
@@include("../blocks/modules/help-main/index.html")
@@include("../blocks/modules/news-subs/index.html")

@@include("../blocks/modules/footer/footer.html")