@@include("../blocks/modules/header/header.html")

@@include('../blocks/modules/UI/brc.html', {
  text: ['Главная', 'Программы']
})
@@include("../blocks/modules/info-block/prog-infra.html")
@@include("../blocks/modules/info-block/prog-about.html")
@@include("../blocks/modules/news-last/index.html")
@@include("../blocks/modules/contests/index.html")
@@include("../blocks/modules/work-results/index.html")
@@include("../blocks/modules/media-slider/index.html")
@@include("../blocks/modules/partners-main/index.html")
@@include("../blocks/modules/news-subs/index.html")

@@include("../blocks/modules/footer/footer.html")