.histories {
  &__cap {
    margin-bottom: gutter(8);
  }
  &__tab {
    margin-bottom: gutter(8);
  }
  &__select {
    display: none;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: gutter(6);
  }
  @include tab {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: gutter(5);
    }
    &__tab {
      display: none;
    }
    &__select {
      display: block;
      margin-bottom: gutter(10);
    }
  }
  @include mob {
    &__cap {
      margin-bottom: gutter(4);
    }
    &__select {
      margin-bottom: gutter(10);
    }
    &__list {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: gutter(8);
    }

  }
}