.mass-media {

  &__top {
    margin-bottom: gutter(10);
    @include o-grid;
  }

  &__text {
    font-size: 32px;
  }

  &__list {
    border-top: 1px solid $brd-grey;
    margin-bottom: gutter(10);
  }

  &__item {
    display: grid;
    grid-template-columns: 4fr 6fr 2fr;
    grid-gap: gutter(6);
    padding: gutter(8) 0;
    border-bottom: 1px solid $brd-grey;
    transition: 300ms;
    transition-property: color, border;
    &:hover,
    &:hover .mass-media__site, 
    &:hover .mass-media__date {
      color: $accent;
      border-color: $accent;
    }
  }

  &__site {
    font-size: 18px;
    color: $grey;
  }

  &__anons {
    font-size: 18px;
  }

  &__date {
    color: $grey;
    text-align: right;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  @include tab {
  
    &__top {
      grid-template-columns: 1fr;
      grid-gap: gutter(5);
      margin-bottom: gutter(8);
    }
  
    &__list {
      margin-bottom: gutter(8);
    }
  
    &__item {
      align-items: start;
      grid-template-columns: 1fr 2fr 1fr;
      grid-gap: gutter(5);
      padding: gutter(6) 0;
    }
  }

  @include mob {
  
    &__top {
      grid-gap: gutter(4);
      margin-bottom: gutter(6);
    }

    &__text {
      font-size: gutter(6);
    }
  
    &__list {
      margin-bottom: gutter(6);
    }
  
    &__item {
      align-items: start;
      grid-template-columns: 1fr 1fr;
      grid-gap: gutter(4);
      padding: gutter(4) 0;
    }

    &__site {
      font-size: 14px;
      grid-column: 1/2;
    }
  
    &__anons {
      font-size: 14px;
      grid-column: 1/3;
      grid-row: 2/3;
    }
  
    &__date {
      grid-column: 2/3;
    }
  }
}