.directions {
  overflow: hidden;
  &__inner {
    position: relative;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: gutter(6);
  }

  &__slider {
    overflow: visible;
  }

  &__slide {
    width: auto;
    margin-right: gutter(6);
    &:last-child {
      margin-right: 0;
    }
    .card1__pic {
      img {
        width: auto;
        object-fit: unset;
      }
    }
  }

  &__more {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__pag {
    margin-top: gutter(6);
    margin-bottom: gutter(4);
  }

  &--main {
    .directions__top {
      @include o-grid;
    }
    .directions__title {
      padding-right: 216px;
    }
    .directions__c-btns {
      display: flex;
      justify-content: flex-end;
    }
  }

  @include tab {
    &__c-btns {
      display: none;
    }
    &--main {
      .directions__top {
        display: block;
      }
      .directions__title {
        padding-right: 0;
        margin-top: 43px;
      }
      .directions__c-btns, 
      .directions__pag {
        display: none;
      }
    }
  }
  @include mob {
    &__slide {
      .card1__pic {
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    &__more {
      position: static;
      margin-top: gutter(6);
    }
  }
}