.contact-us {
  &__top {
    margin-bottom: gutter(8);
    @include o-grid;
  }

  &__content {
    @include o-grid;
  }

  @include tab {
    &__top {
      grid-template-columns: 1fr;
      grid-gap: gutter(5);
      margin-bottom: 0;
    }
    &__content {
      grid-template-columns: 1fr;
      grid-gap: gutter(5);
    }
  }
  @include mob {
    &__top {
      grid-gap: gutter(4);
    }
    &__content {
      grid-gap: gutter(4);
    }
  }
}