.social {
  display: inline-flex;
  align-items: center;

  li {
    width: 32px;
    height: 32px;
    margin-right: gutter(2);

    &:last-child {
      margin-right: 0;
    }

    svg use {
      fill: $white;
      color: $accent;
      transition-duration: 300ms;
      transition-property: fill, color;
    }

    &:hover {
      svg use {
        fill: $accent;
        color: $white;
      }
    }
  }

  a, svg {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.share {
  display: inline-flex;
  align-items: center;
  &__title {
    color: $grey;
    margin-right: gutter(2);
  }
  &__list {
    display: inline-flex;
    align-items: center;
  }
  &__item {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    margin-right: gutter(2);
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    svg use {
      fill: $white;
      color: $accent;
      transition-duration: 300ms;
      transition-property: fill, color;
    }

    &:hover {
      svg use {
        fill: $accent;
        color: $white;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transform: scale(2);
  }
  .fb_iframe_widget {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    *, iframe a {
      position: absolute !important;
      left: 0 !important;
      top: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }
  }

  a, svg {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}