.footer {
  &__inner {
    display: grid;
    grid-template-columns: 4fr 6fr 2fr;
    padding-top: gutter(10);
    border-top: 1px solid $brd-grey;
    margin-bottom: 30px;
    grid-gap: gutter(4);
  }

  &__logo {
    display: inline-block;
    width: 120px;
    height: 35px;

    svg {
      height: 100%;
      object-fit: contain;
    }
  }

  &__menu {
    display: flex;
    gap: 87px;
    justify-content: space-between;
  }

  &__list {
    margin-bottom: gutter(2);
    p {
      font-size: 12px;
      color: $grey;
      margin-bottom: gutter(1);
    }
    li {
      margin-bottom: gutter(1);
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__uls {
    display: flex;
    gap: gutter(5);
  }
  &__cont-list {
    min-width: 30%;
  }

  &__social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  &__social--tab-visible {
    display: none;
  }

  &__bot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $grey;
    padding-bottom: gutter(6);
  }

  &__bot-links {
    display: flex;
    align-items: center;
    a:hover {
      text-decoration: underline;
    }
  }

  &__bot-item {
    margin-right: gutter(8);
    &:last-child {
      margin-right: 0;
    }
  }
  &__octo {
    display: flex;
    justify-content: flex-end;
    padding-bottom: gutter(4);
    svg {
      width: 121px;
      height: 31px;
      overflow: contain;
    }
  }

  &--parking {
    .footer {
      
    }
  }

  @include tab {
    &__inner {
      grid-template-columns: 4fr 12fr;
      grid-gap: gutter(4);
    }
    &__menu {
      justify-content: space-between;
      gap: 24px;
    }
    &__cont-list {
      min-width: auto;
    }
    &__bot-links {
      flex-direction: column;
    }
  
    &__bot-item {
      margin-right: 0;
      margin-bottom: gutter(2);
    }
    &__social--tab-hide {
      display: none;
    }

    &__social--tab-visible {
      display: flex;
      margin-top: gutter(6);
    }
    &--parking {
      .footer {
        &__inner {
          grid-template-columns: 4fr 5fr 3fr;
        }
      }
    }
  }

  @include mob {
    &__inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: gutter(6);
      padding-top: gutter(5);
    }
  
    &__logo {
      width: 80px;
      height: 23px;
      grid-column: 1/2;
    }
  
    &__menu {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      grid-column: 1/3;
      grid-row: 2/3;
    }
  
    &__list {
      li {
        font-size: 14px;
        margin-bottom: 7px;
      }
    }

    &__cont-list {
      margin-top: gutter(3);
    }
  
    &__social {
      grid-column: 2/3;
    }

    &__social--tab-hide {
      display: flex;
    }

    &__social--tab-visible {
      display: none;
    }
  
    &__bot {
      flex-direction: column-reverse;
      justify-content: flex-start;
      font-size: 12px;
      padding-bottom: gutter(6);
    }
  
    &__bot-links {
      align-items: flex-start;
      flex-direction: column;
    }
  
    &__bot-item {
      margin-right: 0;
    }
    &__octo {
      justify-content: flex-start;
    }
    &--parking {
      .footer {
        &__inner {
          grid-template-columns: 1fr 1fr;
        }
        &__menu {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}