.anime-card {
  background-color: $green-light;
  border-radius: $brz;
  padding: 40px 24px;

  &--target {
    circle {
      opacity: 0;
      animation-duration: 3000ms;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }

    .c1 {
      // opacity: 1;
      animation-name: anime-card--target1;
    }
    .c2 {
      animation-name: anime-card--target2;
    }
    .c3 {
      animation-name: anime-card--target3;
    }
    .c4 {
      animation-name: anime-card--target4;
    }

  }

  &--principles {
    .anime-card__bg {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      border: solid black;
    }
    line {
      animation-name: anime-card--principles;
      animation-duration: 6000ms;
      animation-iteration-count: infinite;
      animation-direction: reverse;
      animation-timing-function: ease-in-out;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
  }
  &__icon {
    position: relative;
    width: 180px;
    height: 180px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    font-size: 32px;
    margin-bottom: 18px;
  }

  &__text {
    font-size: 18px;
    color: $grey;
  }

  @include tab {
    padding: 24px 12px;

    &__icon {
      width: 160px;
      height: 160px;
    }
  
    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    &__text {
      font-size: 14px;
    }
  }
}

@keyframes anime-card--target1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anime-card--target2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anime-card--target3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


@keyframes anime-card--target4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anime-card--principles {
  0% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 24px * 5;
  }
}