.flatpickr-calendar {
  background: #F9FDFC;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(57, 129, 102, 0.1);
  border-radius: 4px;
  .flatpickr-current-month {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    left: 0;
  }
  .flatpickr-month {
    height: 82px;
  }
  .flatpickr-current-month {
    height: 82px;
    border-radius: 4px 4px 0 0;
  }
  .flatpickr-monthDropdown-months {
    color: $accent;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    width: 70%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  .numInputWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $green-light;
    border-radius: 4px 4px 0 0;
  }
  .numInputWrapper .numInput.cur-year {
    text-align: center;
    font-size: 12px;
    padding: 11px;
    border-radius: 4px 4px 0 0;
  }
  .flatpickr-prev-month,
  .flatpickr-next-month {
    padding: 8px 12px;
    height: auto;
    width: auto;
    top: 33px;

    svg {
      fill: none;
    }
    &:hover {
      rect {
        fill: $accent;
      }
      path {
        stroke: $white;
        fill: none;
      }
    }
    &.flatpickr-disabled {
      rect {
        fill: $white;
        stroke: $grey;
      }
      path {
        stroke: $grey;
      }
    }
  }
  .date-prev, 
  .date-next {

    width: 32px;
    height: 32px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      fill: none;
    }
    rect {
      fill: $white;
      transition: fill 300ms;
    }
    path {
      fill: none;
      stroke: $accent;
      transition: stroke 300ms;
    }
  }
  .flatpickr-weekday {
    color: $grey;
    font-size: 12px;
    font-weight: normal;
  }
  .flatpickr-day {
    color: $black;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    &.today {
      background-color: $green-light;
      color: $black;
      border: none;
    }
    &.selected {
      background-color: $accent;
      color: $white;
      border: none;
    }
    &.inRange {
      background-color: $green-light;
      color: $black;
      border: none;
      box-shadow: -5px 0 0 $green-light, 5px 0 0 $green-light;
    }
    &.startRange {
      border-radius: 4px;
      border: none;
    }
    &.endRange {
      border-radius: 4px;
      border: none;
      background-color: $accent;
      &:hover {
        background-color: $accent;
        border: none;
      }
    }
  }
  .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
      -webkit-box-shadow: -10px 0 0 $green-light;
      box-shadow: -10px 0 0 $green-light;
  }
  .flatpickr-weekday {
    
  }
  .flatpickr-weekday:nth-child(6),
  .flatpickr-weekday:nth-child(7) {
    color: $error;
  }
}