.form {
  color: $black;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
  }
  &__item {
    padding: gutter(2);
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    &--50 {
      width: 50%;
    }
    &--33 {
      width: 33.3333%;
    }
  }
  &__input {
    width: 100%;
    height: 56px;
    padding: 18px 16px;
    background-color: $green-light;
    border: none;
    border-radius: $brz;
    &::placeholder {
      color: $grey;
    }
  }
  &__textarea {
    width: 100%;
    height: 56px;
    padding: 18px 16px;
    padding-top: 21px;
    background-color: $green-light;
    border: none;
    border-radius: $brz;
    &::placeholder {
      color: $grey;
    }
    &--big {
      height: 137px;
    }
  }
  &__input, &__textarea {
    &.error {
      border: 1px solid $error;
    }
  }
  &__input-error {
    color: $error;
    font-size: 12px;
    padding-top: 2px;
  }
  &__select {
    width: 100%;
    height: 8rem;
    padding: 1rem 3rem;
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 2rem 3rem 6rem rgba(15, 7, 62, 0.05);
    border-radius: 1rem;
    color: #848794;
    font: inherit;
  }
  &__actions {
    // margin-top: 24px;
  }
  &__conf {
    display: flex;
    margin-bottom: gutter(6);
    &-label {
      display: inline-block;
      cursor: pointer;
      span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid $grey;
        margin-right: gutter(2);
      }
      input:checked + span {
        background-image: url(../img/accepted.svg);
        background-repeat: no-repeat;
        background-size: 72%;
        background-position: center;
        border-color: $accent;
      }
    }
    &-text {
      font-size: 14px;
      color: $grey;
    }
  }

  &__subs {
    position: relative;
    max-width: 424px;
    input {
      height: 65px;
      padding-right: 175px;
    }
    button {
      position: absolute;
      right: 1px;
      top: 1px;
      width: 165px;
      height: calc(100% - 2px);
      border-radius: 10px;
    }
  }

  &--dark {
    .form__conf-text {
      color: $white;
    }
    .form__conf-label span {
      border-color: $white;
    }
    .form__conf-label input:checked + span {
      border-color: $white;
      background-image: url(../img/accepted2.svg);
    }
  }

  @include tab {
    &__item {
      &--50 {
        width: 100%;
      }
      &--33 {
        width: 100%;
      }
    }

    &__subs {
      max-width: none;
    }

  }
  @include mob {
    &__conf {
      &-text {
        font-size: 12px;
      }
    }
  }
}